artifacts/
build/
coverage/
coverage.json
cache/
deployed/localhost
deployed/mumbai/abi
abi
.env
.env.mumbai
node_modules/
.DS_Store
.previous-deployment-addresses
.contract-deployment.tmp.json
deployments
deployed/local
deployed/local
