artifacts/
build/
coverage/
coverage.json
cache/
deployed/mumbai/abi
abi
.env
.env.mumbai
.env.local
node_modules/
.DS_Store
.previous-deployment-addresses
.contract-deployment.tmp.json
.post-deployment-test.tmp.json
deployments
deployed/local
deployments
gasReporterOutput.json
.vscode/
docs
package-lock.json