artifacts/
build/
coverage/
coverage.json
cache/
deployed/skale/abi
abi
.env
.env.skale
.env.local
node_modules/
.DS_Store
.previous-deployment-addresses
.contract-deployment.tmp.json
deployments
deployed/local
deployments
gasReporterOutput.json
