version: 2.1
orbs:
  coveralls: coveralls/coveralls@1.0.6
  node: circleci/node@4.1
jobs:
  checkout_source:
    docker:
      - image: cimg/node:16.5
    steps:
      - checkout
      - persist_to_workspace:
          root: .
          paths:
            - .

  install_dependencies:
    docker:
      - image: cimg/node:16.5
    steps:
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Install dependencies
          command: |
            npm install
            npm run cp-ci-env
      - save_cache:
          key: dependencies-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - persist_to_workspace:
          root: .
          paths:
            - .env
            - node_modules/*

  test:
    docker:
      - image: "cimg/node:16.5"
    resource_class: large
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Run tests
          command: |
            CI=true npm run test
      - store_artifacts:
          path: test
          prefix: test

  lint:
    docker:
      - image: "cimg/node:16.5"
    resource_class: medium
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Run Lint
          command: npm run lint
      - store_artifacts:
          path: lint
          prefix: lint

  coverage:
    docker:
      - image: "cimg/node:16.5"
    # parallelism: 10
    resource_class: xlarge
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Run Coverage
          command: npm run coverage
      - coveralls/upload
      - store_artifacts:
          path: coverage
          prefix: coverage

  slither:
    docker:
      - image: "trailofbits/eth-security-toolbox"
    resource_class: medium
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Slither
          command: |
            slither . --filter-paths "node_modules" --disable-color

  gasCompare:
    docker:
      - image: "cimg/node:16.5"
    resource_class: medium
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Run GasCompare
          command: |
            if [ "$CIRCLE_BRANCH" == 'master' ]; then
            exit 0
            fi
            CI=true npm run test
            mv ./gasReporterOutput.json /tmp/gasReporterOutput_Current.json
            git checkout master
            CI=true npm run test
            mv ./gasReporterOutput.json /tmp/gasReporterOutput_Master.json
            git checkout $CIRCLE_BRANCH
            npm run gasCompare /tmp/gasReporterOutput_Current.json /tmp/gasReporterOutput_Master.json
  deploy-contracts:
    docker:
      - image: "cimg/node:16.5"
    resource_class: medium
    steps:
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Install dependencies
          command: |
            npm install
      - save_cache:
          key: dependencies-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run:
          name: Previous addresses
          command: cat deployed/$ENV/addresses.json
      - run:
          name: Deploy Contracts
          command: |
            printenv > .env
            npm run deploy:$ENV
      - run:
          name: New addresses of Contracts
          command: cat deployed/$ENV/addresses.json
      - persist_to_workspace:
          root: .
          paths:
            - .

  publish-package:
    docker:
      - image: "cimg/node:16.5"
    resource_class: medium
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Creating .npmrc
          command: echo //$NPM_REGISTRY_STAG/:_authToken=$NPM_TOKEN_STAG > .npmrc
      - run:
          name: publish package
          command: npm publish --registry http://$NPM_REGISTRY_STAG
      - run:
          name: Removing .npmrc
          command: rm .npmrc
notify:
  webhooks:
    - url: >-
        https://coveralls.io/webhook?repo_token=${process.env.COVERALLS_REPO_TOKEN}
workflows:
  tests:
    jobs:
      - checkout_source
      - install_dependencies:
          requires:
            - checkout_source
      - test:
          requires:
            - install_dependencies
      - coverage:
          requires:
            - install_dependencies
      - slither:
          requires:
            - install_dependencies
      - lint:
          requires:
            - install_dependencies
      - gasCompare:
          requires:
            - install_dependencies
  deploy:
    jobs:
      - checkout_source
      - deploy-contracts:
          requires:
            - checkout_source
          context: Stag
