name: CI

on: [push , pull_request]

jobs:
     
  install_dependencies:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with: 
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install dependencies
        run: |
          npm install
          npm run cp-ci-env
      - uses: bissolli/gh-action-persist-workspace@v1
        with:
          action: persist

  # test:
  #   runs-on: ubuntu-latest
  #   needs: install_dependencies
  #   steps:
  #     - uses: bissolli/gh-action-persist-workspace@v1
  #       with:
  #         action: retrieve
  #     - name: Run tests
  #       run: |
  #         CI=true npm run test
  #     - name: Store artifacts
  #       uses: actions/upload-artifact@v2
  #       with:
  #         name: test
  #         path: test

  # scenarios:
  #   runs-on: ubuntu-latest
  #   needs: install_dependencies
  #   steps:
  #     - uses: bissolli/gh-action-persist-workspace@v1
  #       with:
  #         action: retrieve
  #     - name: Run scenarios
  #       run: |
  #         CI=true npm run scenarios
  #     - name: Store artifacts
  #       uses: actions/upload-artifact@v2
  #       with:
  #         name: scenarios
  #         path: scenarios

  # lint:
  #   runs-on: ubuntu-latest
  #   needs: install_dependencies
  #   steps:
  #     - uses: bissolli/gh-action-persist-workspace@v1
  #       with:
  #         action: retrieve
  #     - name: Run Lint
  #       run: npm run lint
  #     - name: Store artifacts
  #       uses: actions/upload-artifact@v2
  #       with:
  #         name: lint
  #         path: lint

  # coverage:
  #   runs-on: ubuntu-latest
  #   needs: install_dependencies
  #   steps:
  #     - uses: bissolli/gh-action-persist-workspace@v1
  #       with:
  #         action: retrieve
  #     - name: Run Coverage
  #       run: npm run coverage
  #     - name: Upload coverage to Coveralls
  #       uses: coverallsapp/github-action@v2
  #       with:
  #         github-token: ${{ secrets.GITHUB_TOKEN }}
  #     - name: Store artifacts
  #       uses: actions/upload-artifact@v2
  #       with:
  #         name: coverage
  #         path: coverage

  # slither:
  #   runs-on: ubuntu-latest
  #   needs: install_dependencies
  #   steps:
  #     - uses: bissolli/gh-action-persist-workspace@v1
  #       with:
  #         action: retrieve
  #     - name: Run Slither
  #       uses: crytic/slither-action@v0.3.0
  #       id: slither
  #       with:
  #         node-version: 16
  #         sarif: results.sarif
  #         fail-on: high

  gasCompare:
    runs-on: ubuntu-latest
    needs: install_dependencies
    steps:
      - uses: bissolli/gh-action-persist-workspace@v1
        with:
          action: retrieve
      # - name: Set up Git Authentication
      #   run: |
      #     git config user.name 'github-actions[bot]'
      #     git config user.email 'github-actions[bot]@users.noreply.github.com'
      #     echo "https://$GIT_TOKEN_USERNAME:$GIT_TOKEN@github.com" > ~/.git-credentials
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GIT_TOKEN }}
      #     GITHUB_TOKEN_USERNAME: ${{ secrets.GIT_TOKEN_USERNAME }}
        
      - name: Run GasCompare
        run: |
          ls -la
          git checkout master